.sdpanel {
    min-height: 2.2em;
    border-radius: $panel_radius;
    font-weight: bold;
    font-size: 1.1em;
    color: $fg_color;
    text-shadow: $text_shadow;
    margin: 8px;

    background-color: transparent;
    @if $theme == 'dark' {
        background-color: $bg_color;
        border-bottom: $border_width solid $popover_border_color;
        box-shadow: 0 0 6px 0 rgba(0,0,0,0.8);
    }
    
    .button-bin {
        margin: 3px 2px;

        &.launcher {
            margin-left: 4px
        }
    }
    .button{
        .icon{ font-size: 1.2em;}
        @include button($flat: true, $radii: $panel_button_radius);
        > * { padding: 0 .7em }

        &.launcher{ color: $blue; }
        &.powermenu{ color: $red; }
        &.window{ @include button($flat: true, $interactive: false) }

        &.workspaces{
            @include button($flat: false, $radii: $panel_button_radius);
            .workspace-btn{
                label{ font-size: 1.2em; }
                margin: 2px;
                border-radius: $radii * 0.5;
                min-width: 3rem;
                &.empty{ color: transparentize($fg_color, 0.75); }
                &.occupied{ color: transparentize($fg_color, 0.18); }
                &.active{
                    color: $fg_color;
                    background-color: $red;
                }
                &:hover{
                    &.empty{ color: transparentize($fg_color, 0.18); }
                    &.occupied{ color: $fg_color; }
                }
                &:active{ color: $accent; }
            }
        }

        &.update{
            @include button($flat: false, $radii: $panel_button_radius);
            .update-btn{
                label{ font-size: 1.2em; }
                margin: 2px;
                border-radius: $radii * 0.5;
                min-width: 1rem;
                padding: 0px 0.5em;
                &.pending{
                    color: $fg_color;
                    background-color: $red;
                }
                &:hover{
                    &.empty{ color: transparentize($fg_color, 0.18); }
                    &.occupied{ color: $fg_color; }
                }
                &:active{ color: $accent; }
            }
        }
        &.volume {
            @include button($flat: false, $radii: $panel_button_radius);
            .volume-btn{
                label{ font-size: 1.2em; }
                margin: 2px;
                border-radius: $radii * 0.5;
                min-width: 1rem;
                padding: 0px 0.5em;
                &:hover{
                    &.empty{ color: transparentize($fg_color, 0.18); }
                    &.occupied{ color: $fg_color; }
                }
            }
        }
        &.battery {
            @include button($flat: false, $radii: $panel_button_radius);
            .volume-btn{
                label{ font-size: 1.2em; }
                margin: 2px;
                border-radius: $radii * 0.5;
                min-width: 1rem;
                padding: 0px 0.5em;
                &:hover{
                    &.empty{ color: transparentize($fg_color, 0.18); }
                    &.occupied{ color: $fg_color; }
                }
            }
        }
        &.wallpaper {
            @include button($flat: false, $radii: $panel_button_radius);
            .wallpaper-btn{
                label{ font-size: 1.2em; }
                margin: 2px;
                border-radius: $radii * 0.5;
                min-width: 1rem;
                padding: 0px 0.5em;
                &:hover{
                    &.empty{ color: transparentize($fg_color, 0.18); }
                    &.occupied{ color: $fg_color; }
                }
            }
        }

    }

}

.button-bin label.icon {
   font-size: 2.5em;
}

scale.slider {
   margin: 0px;
   padding: 0px;
   margin-right: 5px;
   margin-left: 5px;

   trough {
      all: unset;
      background-color: darkgrey;
      border-radius: 5px;
      min-height: 5px;
      min-width: 0px;
      margin-left: 0px;
      margin-right: 0px;

      highlight {
         all: unset;
         background-color: $red;
         border-radius: 5px;
         min-height: 5px;
         min-width: 0px;
         margin-left: 0px;
         margin-right: 0px;
      }
   }
}

