$assets: '/home/andreas/.config/eww/assets/';
$radii: 7px;
$panel_radius: $radii * 1;


.foo {
   background-color: transparent;

   .label {
      background-color: transparent;
   }

   scale {
      background-color: gray;
      border: solid 1px red;

      trough {
         min-width: 50px;
      }
   }

   scale trough highlight {
      all: unset;
      background-color: blue;
      border-radius: 5px;
      min-height: 5px;
      min-width: 0px;
      margin-left: 0px;
      margin-right: 0px;
   }
   scale trough {
      all: unset;
      background-color: green;
      border-radius: 5px;
      min-height: 5px;
      min-width: 0px;
      margin-left: 0px;
      margin-right: 0px;
   }
}
